.categories{
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
    
    
}





