.categories{
    width: auto;
    height: auto;
    margin-bottom: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
    
    
}





