header {
    display: flex;
    align-items: center;
    justify-content: space-between;  
  }

.logo {
<<<<<<< HEAD:styles/components/atoms/button-header.css
    width: 10%;
}
  
=======
    width: 1000000px;
    
  }
  
>>>>>>> f7d697caab5fd8486d9e705d049a185adcfa67d5:styles/components.css/molecules/header.css
