@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');

body{
    width: 100vw;
    height: 200vh;
    padding: 40px;
    margin: 0;
    background-color: rgb(253, 252, 244);
    font-family: 'Shippori Mincho', serif;
}

