@import url('../atoms/button-header.css');
@import url('../molecules/header.css');
@import url('/styles/components.css/organisms/');
@import url('/styles/components.css/pages/');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;  
  }

nav {
  display: none;
}

.logo {
    width: 30%;
}
  
.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.container-category-photo {
    width: 200px;
}