footer button{
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    border: none;
 
}

footer img{
    width: 7vw;
    height: auto;  
   
}

footer img:hover {
    width: 7.3vw;
    height: auto;  
}

.heart img {
    width: 65px;
    height: 65px;
    border: none;
    position: relative;
    top: -50px;
}

button {
    outline: none;
}

