footer button{
    
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
 
}

.icon img {
    width: 20px;
    opacity: 0,5;
    color: grey;
}


button img{
    width: 5vw;
    height: auto;  
    opacity: 0,2;
    
   
}

.carro {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: orange;
    box-shadow: 5px 4px 7px rgb(196, 196, 196);
    cursor: pointer;
    position: relative;
    top: -20px;
    
}

.carro img {
    width: 35px;
    

}


button {
    outline: none;
}

