footer button{
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
 
}

.icon img {
    width: 20px;
    opacity: 0,5;
    color: grey;
    background-size: cover;
    transition: all .2s ease-in-out;
}

.icon:hover, .icon:focus {
  filter: invert(80%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  transform: scale(1.2);
}



button img{
    width: 5vw;
    height: auto;  
    opacity: 0,2;
    
   
}



.button img:hover {
    fill: orange;
    

}

.carro {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: orange;
    box-shadow: 5px 4px 7px rgb(196, 196, 196);
    cursor: pointer;
    position: relative;
    top: -20px;
    transition: all .2s ease-in-out;
    
    
}

.carro img {
    width: 33px;
    color: white;
    filter: invert();
    

}



.carro:hover {        
    transform: scale(1.2);
}


button {
    outline: none;
}

