nav {
    display: flex;
    align-items: flex-end;
}


.menu {
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    
}

.boton-menu img {
    width: 5vw;
    height: auto;
}