footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
   
}