footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
}