.header2 {
        padding-bottom: 5px;
        padding-left: 20px;
    
}

h1 {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: 2px;
}

.subtitle{
    margin: 2px;
    padding: 2px;
}

.header2 p {
    color: grey;
}