.info-dish {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p.price-dish1 {
    font-weight: bold;
    color: red;
    
}


.info-dish1{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px 0px 20px 0px;
}
.info-dish2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px 0px 20px 0px;
}

.info-dish3{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

.info-dish4{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

.info-dish5{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

.info-dish6{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

.info-dish7{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

.info-dish8{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

.info-dish9{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

.info-dish10{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

.info-dish11{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

.info-dish12{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}