.info-dish {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.detail-info-dish {
    margin-left: 30px;
}


.detail-info-dish p{
    margin: 2px;
}


.dishes p {
    color: var(--black);
    }

.dishes h4 {
    margin: 0px;
}

.counter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10px;
    
}

.counter p {
    width: 30px;
    height: 30px;
    background-color: #F0F0F2;
    color: black;
    margin: 0px;
    text-align: center;
    line-height: 28px;
}

.counter button {
    width: 30px;
    height: 30px;
    background-color: #F0F0F2;
    color: black;
    margin: 0px;
    text-align: center;
    line-height: 28px;
    
}